<h2>Nuevo Proyecto</h2>
<form method="post">
    {% csrf_token %}
    <label>Nombre:</label><input type="text" name="nombre" required><br>
    <label>Descripción:</label><textarea name="descripcion"></textarea><br>
    <label>Fecha de inicio:</label><input type="date" name="fecha_inicio" required><br>
    <label>Fecha de fin:</label><input type="date" name="fecha_fin"><br>
    <button type="submit">Crear Proyecto</button>
</form>
<a href="{% url 'panel_gestion_inventario' %}">Volver al Panel de Gestión</a>